.slider-awesome{
    width:100%;
    height: 100%;
    padding: 0%;
    margin: 0%;


}

.image-awesome{
    width: 100%;
    display: block;
}

.awssld{
    height: 100vh !important;
}

.box-description-gallery{
    width:100%;
    height: 5vh;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(44, 40, 40);
}
.box-description-gallery{
    color:white;
}