.profil-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .box-image {
    position: relative;
    border: 8px solid black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
  }
  .description{
    display: block;
    font-weight: bold;
    letter-spacing: 0.1rem;
    align-self: center;
    font-size:1.2rem !important;
    text-align: center;
    padding-left: 0;
    
  }
    
  .anim-typewriters3{
    animation: typewriters3 3s steps(44) 1s 1 normal both;
  }
  
  .description-box{
    display:flex;
    justify-content: center;
    height: auto;
    margin-top:4rem;
    color: black;
  }
  
  
  .profil-card{
    border-right:3px solid black;
    border-bottom:2px solid black;
    margin-top:4rem;
    padding: 1rem;
    display: flex;
    width: 35%;
    animation: fromLeft 2s ;
    position: relative;
  }
  
  
  .card-list{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5rem;
    justify-content: space-around;
    height: 80%;
    align-self: center;
  }
  
   .card-list> p {
    display: flex;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }
  .card-list p > a{
    color: rgb(123, 50, 218);
    text-decoration: none;
    border-bottom: 1px solid transparent;

  }
  .card-list p > a:hover{
    border-bottom: 1px solid black;
  }
    
  .diplome-box{
    display: flex;
    width: 80%;
    height:30vh;  justify-content: space-between;
    margin-top: 4rem;
    position: relative;
    animation : fromBottom 2s;
    margin-top: 2rem;;
  }
  .diplome-card{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25%;
  }
  .diplome-card > p {
    font-weight: bold;
    margin-top:2rem;
    align-self: center;
    margin-bottom: 1rem;
    color: rgb(123, 50, 218);
  }
  .study-link{
    display: flex;
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size:1.05rem
  }
  .study-link:hover{
    color: rgb(123, 50, 218);
  }
  
  .diplome{
    display: flex;
    width:7rem;
    align-self: center;
  }
  .date{
    font-weight: bold;
    font-size:1.1rem;
    padding-bottom:1rem;
    color: black !important;
  }

  .cv{
    border:1px solid black;
    text-align: center ;
    padding:1rem;
    margin-top:3rem;
    font-size: 1.1rem;
    cursor: pointer;
    animation : fromBottom 2s;
    position: relative;

}
.cv:hover{
    background-color: grey;
    color:lightgrey;
    border:1px solid grey;
}

.dash{
    font-size: 5rem;
    text-align: center;
}

  

  /* @MediaQueries */
    
  @keyframes fromBottom{
    from{left: -100%}
    to{left: 0%}
  }
  @keyframes fromLeft{
    from{right: -100%}
    to{right: 0%}
  }
  @keyframes typewriters3{
    from{width: 0;}
    to{width: 100%}
  }

  @media screen and (max-width: 1500px) {
   .profil-card{
     width: 50%;
     margin-top: 2rem;
   }
   .card-list{
     line-height: 1.5rem;
   }
   .diplome-box{
    display: flex;
    width: 80%;
    height:30vh;  justify-content: space-between;
    margin-top: 4rem;
    position: relative;
    animation : fromBottom 2s;
    margin-top: 2rem;;
  }
  .diplome-card{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35%;
  }
  .diplome-card > p {
    margin-top:1rem;
    text-align: center;
  }
  }

  .profile-box{
    display: flex;
    border:1px solid red;
    height:100vh;
    width:100%;
    justify-content: center;
    align-items: center;
  }
  .profile-card{
    position: relative;
    display: flex;
    width: 70%;
    height:60vh;
    border:1px solid green;
    flex-direction: column;
  }
 
  .profile-image{
    width:40%;
    height:100%;
    display: flex;
      position: relative;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-position: top;
      background-size: cover;
    

  }
  .profile-texte{
    width:60%;
    display: flex;
    align-self: center;
    margin-left: 5rem;
    font-size:1.5rem;
    letter-spacing: 0.1rem;

  }
  .profile-top{
    display: flex;
    width:100%;
    height:50%;
    border:1px solid green;
    justify-content: center;
    align-items: center;
  }
  .profile-bottom{
    width:100%;
    height:50%;
    border:1px solid purple;
    display:flex;
    justify-content: start;
    align-items: center;
  }
  .profile-accroche{
    display: flex;
    border:1px solid red;
    font-size:1.6rem;
    padding-left: 3rem;


  }
  .profile-diplomes{
    position : absolute;
    border:1px solid red;
    width: 30%;
    height:100vh;
    background-color: grey;
    right: -30%;
  }
  .diplomes-btn{

  }
  .profile-diplomes-open{
    animation : profileDiplomeLeft 1s;
    right: 0%;
  }
  .profile-card-open{
    animation : profileCardLeft 1s;
  }

  @keyframes profileDiplomeLeft{
    from{right: -30%;}
    to{right: 0%;}
  }

  @keyframes profileCardLeft{
    from{left: 0;}
    to{left: -30%;}
  }


  .fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }