@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.profil-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .box-image {
    position: relative;
    border: 8px solid black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
  }
  .description{
    display: block;
    font-weight: bold;
    letter-spacing: 0.1rem;
    align-self: center;
    font-size:1.2rem !important;
    text-align: center;
    padding-left: 0;
    
  }
  
  .description-box{
    display:flex;
    justify-content: center;
    height: auto;
    margin-top:4rem;
    color: black;
  }
  
  
  .profil-card{
    border-right:3px solid black;
    border-bottom:2px solid black;
    margin-top:4rem;
    padding: 1rem;
    display: flex;
    width: 35%;
    animation: fromLeft 2s ;
    position: relative;
  }
  
  
  .card-list{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5rem;
    justify-content: space-around;
    height: 80%;
    align-self: center;
  }
  
   .card-list> p {
    display: flex;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }
  .card-list p > a{
    color: rgb(123, 50, 218);
    text-decoration: none;
    border-bottom: 1px solid transparent;

  }
  .card-list p > a:hover{
    border-bottom: 1px solid black;
  }
    
  .diplome-box{
    display: flex;
    width: 80%;
    height:30vh;  justify-content: space-between;
    margin-top: 4rem;
    position: relative;
    animation : fromBottom 2s;
    margin-top: 2rem; 
  }
  .diplome-card{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25%;
  }
  .diplome-card > p {
    font-weight: bold;
    margin-top:2rem;
    align-self: center;
    margin-bottom: 1rem;
    color: rgb(123, 50, 218);
  }
  .study-link{
    display: flex;
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size:1.05rem
  }
  .study-link:hover{
    color: rgb(123, 50, 218);
  }
  
  .diplome{
    display: flex;
    width:7rem;
    align-self: center;
  }
  .date{
    font-weight: bold;
    font-size:1.1rem;
    padding-bottom:1rem;
    color: black !important;
  }

  .cv{
    border:1px solid black;
    text-align: center ;
    padding:1rem;
    margin-top:3rem;
    font-size: 1.1rem;
    cursor: pointer;
    animation : fromBottom 2s;
    position: relative;

}
.profile-diplomes{
  z-index: 99999999999999999999;
}
.cv:hover{
    background-color: grey;
    color:lightgrey;
    border:1px solid grey;
}

.dash{
    font-size: 5rem;
    text-align: center;
}

  

  /* @MediaQueries */
    
  @keyframes fromBottom{
    from{left: -100%}
    to{left: 0%}
  }
  @keyframes fromLeft{
    from{right: -100%}
    to{right: 0%}
  }
  @keyframes typewriters3{
    from{width: 0;}
    to{width: 100%}
  }

  @media screen and (max-width: 1500px) {
   .profil-card{
     width: 50%;
     margin-top: 2rem;
   }
   .card-list{
     line-height: 1.5rem;
   }
   .diplome-box{
    display: flex;
    width: 80%;
    height:30vh;  justify-content: space-between;
    margin-top: 4rem;
    position: relative;
    animation : fromBottom 2s;
    margin-top: 2rem;;
  }
  .diplome-card{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35%;
  }
  .diplome-card > p {
    margin-top:1rem;
    text-align: center;

    }
  }

  .profile-box{
    display: flex;
    height:100vh;
    width:100%;
    align-items: center;
    justify-content: center;
  }
  .profile-card{
    position: relative;
    display: flex;
    width: 70%;
    height:60vh;
    flex-direction: column;
  }
 
  .profile-image{
    width:40%;
    height:100%;
    display: flex;
      position: relative;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-position: top;
      background-size: cover;
    

  }
 
  .logo-react{
    width:3.5rem;
  }
 
  .profile-bottom{
    width:100%;
    height:50%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

  }
  .profile-accroche{
    display: flex;
    font-size:1.5rem;
    padding-left: 3rem;
    display: flex;
    margin-top:1rem;
  }
  .link{
    font-size: 1rem;
    a{
      text-decoration: none;
      color:#18c7f8;
    }
    a:hover{
      color: #61DAFB;
    }
  }
  .profile-diplomes{
    position : absolute;
    width: 30%;
    height:100vh;
    background-color: #18c7f8;
    right: -30%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    color:black(235, 235, 235);
    -webkit-box-shadow: -6px 0px 15px -9px #000000; 
    box-shadow: -6px 0px 15px -9px #000000;
  }

  
  .profile-diplomes-open{
    animation : profileDiplomeLeft 1s;
    right: 0%;
  }
  .profile-card-open{
    animation : profileCardLeft 1s;
    left: -12%;
  }
  .profile-diplomes-close{
    animation : profileDiplomeLeftClose 1s;
    right: -30%;
  }
  .profile-card-close{
    animation : profileCardLeftClose 1s;
    left: 0%;
  }

  .study-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
  }
  .study-title{
    font-weight: bold;
    margin-bottom:0.2rem;

  }
  .study-date{
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;

  }
  .study-ecole{
    color: white;
  }
  .study-barre{
    width:60%;
    height: 2px;
    margin-top: 0.7rem;
    background-color: white;
  }
.study-box-title{
  position: absolute;
  top:3%;
  left:3%;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;

}
.study-image{
  width: 15%;
  }

  .example{
    position: absolute;
    top:0%;
    left:0%;
  }

 .profile-cv{
   display: flex;
   align-self: center;
   padding:1rem;
   margin-top:3rem;
   background-color:#18c7f8;
   color: white;
 }
 .profile-cv:hover{
   background-color:#61DAFB;
   color: white;
   cursor:pointer;
 } 

 .arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin:10em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}
.box{
  transform: rotate(90deg);
  position: absolute;
  top:60%;
  right:0%;
  cursor: pointer;
  width: 10px;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.box-open{
  transform: rotate(-90deg) !important;
  right:10%;
  animation: boxToLeft 0.5s;
}
.box-close{
  transform: rotate(90deg) !important;
  animation: boxToRight 0.5s;
}

.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #00b6f1;
}

.profile-texte{
  display: flex;
  align-self: flex-start;
  font-size:1.5rem;
  letter-spacing: 0.1rem;
  font-family: 'Source Code Pro', monospace;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid #18c7f8;
  font-weight: bold;

}

.profile-top{
  display: flex;
  width:100%;
  height:50%;
  justify-content: center;
  align-items: center;
}
.profile-top-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:50%;
  height:auto;
  margin-left: 2rem;
}

.profile-social{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.social-img{
  margin-top:0.5rem;
  padding:0.2rem;
  width: 50px;
  max-width: 50px;
}
.social-img:hover{
  cursor: pointer;
}




@keyframes boxToLeft{
  from{right: 0%;}
  to{right: 10%;}
} 
@keyframes boxToRight{
  from{right: 10%;}
  to{right: 0%;}
}
@keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}
  @keyframes profileDiplomeLeftClose{
    from{right: 0%;}
    to{right: -30%;}
  }

  @keyframes profileCardLeftClose{
    from{left: -10%;}
    to{left: 0%;}
  }

  @keyframes profileDiplomeLeft{
    from{right: -30%;}
    to{right: 0%;}
  }

  @keyframes profileCardLeft{
    from{left: 0;}
    to{left: -12%;}
  }


  .fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @media screen and (max-width: 1500px) {
    .profile-accroche{
      font-size: 1.1rem;
    }
  }


  @media screen and (max-width: 800px) {
  
    .profile-box{
      height: auto;
      display: flex;
      align-items: start;
      justify-self: start;
      
    }
    .profile-card{
      display: flex !important;
      flex-direction: column !important;
      height: 90vh !important;
      padding: 0;
      width: 90%;
      box-sizing: border-box !important;
      justify-content: start !important;

    }
    .profile-image{
      width:10rem;
      height:10rem;
        }
    .profile-top{
      flex-direction: column;
    }
    .profile-top-1{
      display:flex;
      margin:0;
      width: 100%;
    }
    .diplomes-btn-right  {
      cursor: pointer !important; 
      position:absolute !important;
      z-index:999999 !important;
      margin:0 !important;
    }

    .arrow {
    }
    .box{
      transform: rotate(90deg);
      position: absolute;
      top:60%;
      right:2%;
      cursor: pointer;
      width: 10px;
      height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      }
    .box-open{
      transform: rotate(-90deg) !important;
      right:95%;
      animation: boxToLefts 0.5s;
    }
    .box-close{
      transform: rotate(90deg) !important;
      animation: boxToRights 1s;
    }
    .profile-diplomes{
      width:80%;
      right: -80%;
      position : absolute !important;
      top:0;
    }

    .profile-diplomes-open{
      animation : profileDiplomeLefts 1s;
      right: 0%;
    }
    .profile-card-open{
      animation : profileCardLefts 1s;
      left: 0%;
    }
    .profile-diplomes-close{
      animation : profileDiplomeLeftCloses 1s;
      right: -80%;
    }
    .profile-card-close{
      animation : profileCardLeftCloses 1s;
      left: 0%;
    }

    @keyframes boxToLefts{
      from{right: 0%;}
      to{right: 95%;}
    } 
    @keyframes boxToRights{
      from{right: 95%;}
      to{right: 0%;}
    }
    @keyframes uparrow {
      0% { -webkit-transform: translateY(0); opacity: 0.4 }
      100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
    }
      @keyframes profileDiplomeLeftCloses{
        from{right: 0%;}
        to{right: -80%;}
      }
    
      @keyframes profileCardLeftCloses{
        from{left: 0%;}
        to{left: 0%;}
      }
    
      @keyframes profileDiplomeLefts{
        from{right: -80%;}
        to{right: 0%;}
      }
    
      @keyframes profileCardLefts{
        from{left: 0;}
        to{left: 0%;}
      }
      .profile-cv{
        margin-bottom:5rem;
        margin-top: 2rem;
      }

      .profile-diplomes{
        font-size: 0.9rem;
        justify-content: center;
      }
      .profile-bottom{
        justify-content: start;
      }
      .study-box-title{
        font-size:1.4rem
      }
      .study-title{
        text-align: center;
      }
      .profile-bottom p{
        padding:0;
        margin-right:11%;
        font-size: 1.4rem;
      }
      .profile-accroche > a {
        font-size: 0.9rem;
      }
      .diplomes-btn{
        cursor: pointer !important; 
        position:absolute !important;
        bottom:0% !important;
        left:42% !important;
        z-index:999999 !important;
        margin:0 !important;
      }
      .profile-accroche{
        font-size:1.2rem !important;
      }
      .profile-texte{
        font-size:1rem;
      }

  }

