@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './styles/header.scss';
@import './styles/profile.scss';
@import './styles/skills.scss';
@import './styles/gallery.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body{
  margin : 0;
  padding: 0;
}

