@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body{
  margin : 0;
  padding: 0;
}

.image-ronde-bg{
  background-size : contain;
  background-position : 50% 50%; 
  background-image : url(./images/moi.png);
  display : inline-block;
  width : 250px; height : 250px;
  border: none;
  -moz-border-radius : 150px;
  -webkit-border-radius : 150px;
  border-radius : 150px;
}


/* Circle Skills Color */
.CircularProgressbar .CircularProgressbar-path {
  stroke: rgb(95, 202, 95) !important;
}

.skills-container{
  display: flex;
  width: 100%;
  height: 80vh;

}
.skill-box{
  display:flex;
  width: 100%;
  height: 70vh;
  padding-left:2rem;
  padding-right: 2rem;
  align-items: center;
}
.skill-card:hover{
    margin-bottom:3rem;
    transition: 0.5s;
}
.skill-card:hover > .certif{
  padding-top: 1rem;
  border-top: 3px solid lightgreen;
  border-radius: 5%;


}

.skill-card{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border: 3px solid rgb(82, 82, 82);
  border-radius: 30px;
  margin: 2rem;
  -webkit-box-shadow: 0px 5px 15px -1px #000000; 
  box-shadow: 0px 5px 15px -1px #000000;
}

.skill-name{
  text-align: center;
  margin-top:1.5rem;
  letter-spacing: 0.1rem;
  font-size:1.2rem;
  font-weight: bold;
}
.skill-image{
  max-width: 8rem;
  width:5rem;
  margin-top:3rem;
  padding-bottom: 1rem;;
  border-radius: 7px;
  border-bottom: 3px solid black;
  -webkit-box-shadow: 0px 18px 12px -15px rgba(49,219,58,0.41); 
 box-shadow: 0px 18px 12px -15px rgba(49,219,58,0.41);

}

.CircularProgressbar{
  display:flex;
  width: 12rem !important;
  max-width: 12rem !important;
  min-width: 3rem !important;
  
}

.CircularProgressbar-text{
  fill: lightgreen !important;
  font-weight: bold !important;
}


.title-text {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 3rem;
  margin-left:4rem;
}



   .line-1{
    white-space: nowrap;
    overflow: hidden;
    padding-left:5rem;
    font-size:2.5rem;
    letter-spacing: 0.1rem;
}

   /* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;

}

.certif{
  width:10%;
  display: flex;
  margin-bottom: 3rem;
  padding-top:1rem;
  border-top: 3px solid lightgrey;

}

.anim-typewriters{
  animation: typewriters 2s steps(44) 1s 1 normal both,
             blinkTextCursors 500ms steps(44) infinite normal;
}

@keyframes typewriters{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursors{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.profil-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.box-image {
  position: relative;
  border: 8px solid black;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}
.description{
  display: block;
  font-weight: bold;
  letter-spacing: 0.1rem;
  align-self: center;
  font-size:1.2rem;
  text-align: center;
  padding-left: 0;
  
}

.header{
  position: absolute;
  z-index:2;
  width: 100%;
  height: 5.5vh;
}
.logo{
  position: relative;
  left: 1%;
  margin-top:1rem;
  width: 5rem;
  z-index: 3;
}


@keyframes fromLeft{
  from{right: -100%}
  to{right: 0%}
}
  

.anim-typewriters3{
  animation: typewriters3 3s steps(44) 1s 1 normal both;
}

@keyframes typewriters3{
  from{width: 0;}
  to{width: 100%}
}

.description-box{
  display:flex;
  justify-content: center;
  height: auto;
  margin-top:4rem;
  color: black;
}



@keyframes fromBottom{
  from{left: -100%}
  to{left: 0%}
}

.profil-card{
  border-right:3px solid black;
  border-bottom:2px solid black;
  margin-top:4rem;
  padding: 1rem;
  display: flex;
  width: 35%;
  animation: fromLeft 2s ;
  position: relative;
}


.card-list{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 5rem;
  justify-content: space-around;
  height: 70%;
  align-self: center;

}


 .card-list> p {
  display: flex;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
  
.diplome-box{
  display: flex;
  width: 60%;
  height:30vh;  justify-content: space-between;
  margin-top: 4rem;
  position: relative;
  animation : fromBottom 2s;
  border-top: 4px solid black;
  padding-top: 2rem;;
}
.diplome-card{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.diplome-card > p {
  font-weight: bold;
  margin-top:2rem;
  align-self: center;
  margin-bottom: 1rem;
  color: #687477

}
.study-link{
  display: flex;
  align-self: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  font-size:1.05rem
}
.study-link:hover{
  color: rgb(48, 139, 86);
}

.diplome{
  display: flex;
  width:10rem;
  align-self: center;
}
.date{
  font-weight: bold;
  font-size:1.3rem;
  padding-bottom:1rem;
  color: black !important;
}